/* fonts */
:root {
    --logo-font: "Katibeh";
    --heading-font: "Montserrat";
    --body-font: "Roboto";
}

/* colors */
:root {
    --primary-font: #010101;
    --secondary-font: #fefefe;
    --primary-color: #e31c25;
    --secondary-color: #010101;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* hero */
.hero-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
    background-color: #fefefe;
    height: 10vh;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    text-transform: uppercase;
    color: var(--primary-font);
    font-family: var(--logo-font);
    font-size: 3rem;
    font-weight: 700;
    padding: auto;
}

.right-side ul {
    list-style: none;
    font-family: var(--heading-font);
}

.right-side ul li:hover {
    border-bottom: 1px solid #e31c25;
    font-weight: 500;
    color: #e31c25;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.hero-title {
    font-family: var(--heading-font);
    color: var(--secondary-font);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 4rem;
    width: 70vw;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: var(--heading-font);
}

.btn-explore {
    background-color: var(--primary-color);
    color: var(--secondary-font);
}

.btn-contact {
    background-color: white;
    color: #ff3b3b;
}

.btn-explore:hover,
.btn-contact:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-font);
}

/* 2nd section */
.left-side-image {
    width: 100%;
}

.right-side-heading {
    font-family: var(--heading-font);
    color: var(--primary-font);
    font-size: 3rem;
    text-transform: uppercase;
}

.right-side-description {
    font-family: var(--body-font);
    text-align: justify;
}

.checklist li::marker {
    content: "✓";
    color: var(--primary-color);
}

.checklist li {
    padding: 0.5rem;
}

ul .checklist li {
    font-family: var(--body-font);
}

.btn-read-more {
    background-color: var(--primary-color);
    color: var(--secondary-font);
}

.btn-read-more:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

/* box section */
.boxes-container {
    margin: 0;
    padding: 0;
}

.cardio-info {
    background-color: var(--secondary-color);
    flex-direction: column;
    color: var(--secondary-font);
    text-align: center;
}

.strength-info {
    background-color: var(--primary-color);
    flex-direction: column;
    color: var(--secondary-font);
    text-align: center;
}

/* youtube section */
.youtube-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
}

.youtube-image {
    position: relative;
    display: inline-block;
}

.youtube-image img {
    display: block;
    width: 100%;
    height: auto;
}

.youtube-heading {
    font-family: var(--heading-font);
    color: var(--secondary-font);
    font-weight: bold;
}

.youtube-overlay p {
    font-family: var(--body-font);
    color: var(--secondary-font);
}

.youtube-section .icon:hover {
    transform: scale(1.15);
    transition: 0.3s ease;
}

/* gallery */
.gallery-heading {
    font-family: var(--heading-font);
}

.gallery-info {
    font-family: var(--body-font);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: transform 0.3s ease-in-out; */
}

.gallery .gallery-item {
    position: relative;
    overflow: hidden;
}

/* trainers */
.trainers-section {
    background-color: var(--secondary-color);
    height: 90vh;
}

.trainers-heading {
    font-family: var(--heading-font);
    color: var(--secondary-font);
}

.trainers-list {
    display: flex;
    justify-content: center;
}

.trainers-info {
    font-family: var(--body-font);
    color: var(--secondary-font);
}

.trainer1,
.trainer2,
.trainer3 {
    display: flex;
    overflow: hidden;
}

.title {
    color: var(--secondary-font);
    writing-mode: vertical-rl;
    font-weight: 600;
}

.name-overlay {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: auto;
    padding: 1rem;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-font);
    text-align: center;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.trainer1:hover .name-overlay,
.trainer2:hover .name-overlay,
.trainer3:hover .name-overlay {
    opacity: 1;
}

/* pricing */
.pricing-section {
    padding-top: 10rem;
}

.pricing-title {
    font-family: var(--heading-font);
}

.pricing-info {
    font-family: var(--body-font);
}

.pricing-card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
    transform: translateY(-10px);
}

.pricing-card .card-header {
    color: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
}

.pricing-card .price {
    font-size: 2rem;
    font-weight: bold;
}

.pricing-card .price span {
    font-size: 1rem;
    font-weight: normal;
}

.pricing-card .btn-purchase {
    font-weight: bold;
    margin: 10px 0;
}

.card-basic .card-header, .card-business .card-header  {
    background-color: var(--secondary-color)
}

.card-standard .card-header {
    background-color: var(--primary-color);
}

.card-basic .btn-purchase,
.card-business .btn-purchase {
    background-color: var(--secondary-color);
    color: var(--secondary-font);
}

.card-basic .btn-purchase:hover,
.card-business .btn-purchase:hover{
    background-color: var(--primary-color);
    color: var(--secondary-font);
}

.card-standard .btn-purchase {
    background-color: var(--primary-color);
    color: var(--secondary-font)
}

.card-standard .btn-purchase:hover{
    background-color: var(--secondary-color);
    color: var(--secondary-font);
}

.strike{
   text-decoration: line-through;
}

.card-body ul{
    padding: 1rem;
}

.card-body ul li{
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
}